html {
    box-sizing: border-box;
}
*,*::before, *::after {
    box-sizing: inherit;
}
body {
    margin:0;
    font-family: 'Oswald', sans-serif ;
    font-weight: 400;
}
:root {
    --accent-color: #205AF0;
    --dark-color: #000000;
    --background-color: #ddd; 
    --gray-color: #999;

}
.text-h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 150px;
    text-transform: uppercase;
}
.text-h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    text-align: left;
}
.text-h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.text-p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.text-p-reviews {
    font-family: 'Open Sans', sans-serief;
    font-size: 30px;
    line-height: 21px;
}
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; 
*/
.header-kontakti {
 min-height: 810px;
 background-image: url(../img/istockphoto-1048358188-612x612\ 1.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
.intro-block {
    min-height: 470px; /* Высота блока может быть изменена в зависимости от ваших потребностей */
    width: 2000px;
    display: flex;
    justify-content: space-between;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    background-color: hsla(0, 0%, 100%, 0.884);
}
.centered-image {
    max-width: 100%; /* Сохраняем пропорции изображения */
    height: auto; /* Автоматически подстраиваем высоту изображения */
    position: absolute; /* Позиционируем изображение внутри .intro-block */
}
.text-container {
    display: flex;
    flex-direction: column; /* Размещаем надписи в колонку */
    justify-content: center; /* Вертикально центрируем надписи внутри контейнера */
    margin-right: 400px; /* Отступ справа от контейнера */
    text-align: left;
}
.text-line {
    margin: 10px 0; /* Отступы сверху и снизу для надписей */
}
.form-input {
    display: block;
    width: 300px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
.submit-button {
    display: block;
    padding: 20px 60px;
    margin: 20px 0;
    background-color: var(--accent-color);
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: 50px;
}

.submit-button:hover {
    background-color: darken(var(--accent-color), 10%);
}
.h1 {
    font-size: 32px; /* Размер текста */
}
.h5 {
    position: absolute;
    top: 32px;
    left: 298px;
    font-size: 24px;
    color: white;
}
.h4 {
    position: absolute;
    top: 6px;
    left: 290px;
    font-size: 32px;
    color: white;
}
.h7 {
    position: absolute;
    bottom: 10;
    left: 290px;
    font-size: 32px;
}
.image-container {
    display: flex; /* Располагаем элементы в ряд */
    justify-content: space-between; /* Равномерно распределяем пространство между элементами */
}
.image-container img {
    max-width: 100%; /* Сохраняем пропорции изображений */
    height: 120px; /* Автоматически подстраиваем высоту изображений */
    margin: 0 80px; /* Добавляем немного отступа между изображениями */
}
.header_title {
    padding-top: 70px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: flex end;
}
.text {
    width: 50px;
    height: 50px; 
    cursor: pointer;
}
.h1 {
    font-weight: 400;
    font-size: 150px;
    color: white;
}


.extra-text-container {
    display: flex;
    position: absolute;
    top: 50px;
    right: 20px;
    gap: 30px;
    align-items: baseline;
}
#text1 { /* Стили для первой надписи */
    font-size: 30px;
    color: white;
}
#text2 { /* Стили для второй надписи */
    font-size: 30px;
    color: white;
}
#text3 { /* Стили для третьей надписи */
    font-size: 30px;
    color: white;
    margin-right: 260px; /* додатковий відступ після третього елемента */
}
#text4 { /* Стили для четвертой надписи */
    font-size: 20px;
    color: white;
    margin-right: 60px;
}
#text5 {
    color: #ffffff;
    font-size: 20px;
    }
 #text6, #text7 {
    font-size: 20px;
    color: #8F8F8F;
    gap: 14px;
}
#text7 {
margin-right: 120px;
}
.footer-text {
    background-color: #ffffff; /* Цвет фона */
    padding: 20px; /* Поля вокруг текста */
    text-align: right; 
    display: flex;
    justify-content: flex-end;
    margin-right: 260px;
    margin-top: 250px;
    margin-bottom: 50px;
}
.footer-text-item {
    font-size: 20px; /* Размер шрифта */
    margin: 0 40px; /* Внешние отступы */
}
.footer-text img {
    width: 350px; /* Задаем ширину изображения */
    height: auto; /* Подстраиваем высоту под пропорции изображения */
    margin-top: -170px;
    margin-right: 120px;
}
.map-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}




